<div class="container mt-4">
  <div class="jumbotron mb-4 py-3">
    <h1 class="text-center mb-3">Jairo Manchay Perez</h1>
    <p class="text-justify">Hola, mi nombre es Luis del Valle, soy desarrollador Front End desde hace un año y en la actualidad
      estoy embarcado en un proyecto para ense&ntilde;ar a las personas mi trabajo sobre angular con routes. Esto es un ejemplo de lo que se puede
      hacer utilizando este maravilloso framework para dise&ntilde;o, Bootstrap y angular, junto con typeScript.
    </p>
  </div>

  <main class="row d-flex justify-content-center gap-2">
    <section class="col-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">INFORMACIÓN</h5>
          <p class="card-text">Esta hecho con bootstrap y especificando un poco los detalles de la pagina, con ciertos iconos y dandole estilos de css que sobresalten al presentarse en la pagina.</p>
          <p class="card-text"><small class="text-muted">Última actualizacion 19/01/2023</small></p>
        </div>
        <img src=".././assets/vision_reto1.PNG" class="card-img-bottom" alt="...">
      </div>
    </section>

    <section class="col-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">LISTADO FORM</h5>
          <p class="card-text ">vista que pasa los datos del form de contacto, pasa del button a aquella vista con los datos pasado por routes, para que el filtrado pase correctamente y obtenga los datos de aquel país seleccionado, con los datos puestos en la table y el numero del pais seleccionado.</p>
          <p class="card-text"><small class="text-muted">Última actualización 19/01/2023</small></p>
        </div>
        <img src=".././assets/vistaListado_reto1.PNG" class="card-img-bottom" alt="...">
      </div>

    </section>

    <section class="col-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">CONTACTO</h5>
          <p class="card-text">Formulario de contacto con las validaciones respectivas con interface, y su respectiva tabla con datos que pasa cada vez que completan los datos, luego he creado un input de busqueda, que hace un filtrado por pais con todos los datos.</p>
          <p class="card-text"><small class="text-muted">Última actualizacion 19/01/2023</small></p>
        </div>
        <img src=".././assets/contacto_reto1.PNG" class="card-img-bottom" alt="...">
      </div>
    </section>
  </main>

  <footer class="text-center">
    <p>&copy; 2023 Jairo Manchay</p>
  </footer>
</div>
